
*.user
*.user.*
*.creator.user
*.creator.user.*


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeOutput.log
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake


build/
build-*/
debug/
release/
*_debug/
*_release/


*.exe
*.dll
*.app
*.so
*.dylib


*.o
*.a
*.lib
*.la

# Інше
*.DS_Store
*.gch
*.swp